<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF To DOCUMENT</title>
</head>
<body>
    <h1>upload image</h1>
    <form action="/index1" method ="POST" enctype="multipart/form_data">
        <input type="file" name="filename">
        <input type="submit" value="upload">
    </form>
    <h1>upload Excel File</h1>
    <form action="/index2" method ="POST" enctype="multipart/form_data">
        <input type="file" name="filename">
        <input type="submit" value="upload">
    </form>
    <h1>upload word file</h1>
    <form action="/index3" method ="POST" enctype="multipart/form_data">
        <input type="file" name="filename">
        <input type="submit" value="upload">
    </form>
    <h1>PDf to Word</h1>
    <form action="/index4" method ="POST" enctype="multipart/form_data">
        <input type="file" name="filename">
        <input type="submit" value="upload">
    </form>
    <h1>PDF to Image</h1>
    <form action="/index5" method ="POST" enctype="multipart/form_data">
        <input type="file" name="filename">
        <input type="submit" value="upload">
    </form>
    <h1>Merge PDF</h1>
    <form action="/index6" method ="POST" enctype="multipart/form_data">
        <input type="file" name="filename">
        <input type="file" name="filename1">
        <input type="submit" value="upload">
    </form>
</body>
</html>